/packages/*/tests
/packages/*/src
/coverage
/docs
/node_modules
/typedoc
/typedoc_output
/.github
/.vscode
tsconfig.json
.eslintignore
.gitattributes
.gitignore
eslintrc.json
packages-lock.json
typedoc.json