tests/
/src/
/temp/
coverage/
docs/
node_modules/
typedoc/
typedoc_output/
tsconfig*.json
typedoc.json
gulpfile.js
gulpfile.mjs
README.md.backup
jest.config.*
# .eslintignore
# .gitattributes
# .gitignore
# eslintrc.json
# packages-lock.json
# .github/
# .vscode/