 :root {
    --radius-code: 4px;
    --typography-font-size: 16px;
}
@media (prefers-color-scheme: light) {
    :root {
        --color-tsd-typography-marker: #1e81d8;
        --color-tsd-typography-marker-l2: #124f84;
        --color-page-title: #1e81d8;     
        --color-h2-line:    #1e81d8;     
        --color-breadcrumb:    #1e81d8;            
        --color-code-background: #ededed; 
        }
}    
@media (prefers-color-scheme: dark) {
    :root {
        --color-tsd-typography-marker: #559cda;
        --color-tsd-typography-marker-l2: #77befc;
        --color-page-title: #559cda;
        --color-h2-line:    #559cda;  
        --color-breadcrumb:    #559cda;              
        --color-code-background: #4b4b4b; 
        }
}    
:root[data-theme=light] {
    --color-tsd-typography-marker: #1e81d8;
    --color-tsd-typography-marker-l2: #124f84;
    --color-page-title: #1e81d8;     
    --color-h2-line:    #1e81d8;     
    --color-breadcrumb:    #1e81d8;      
    --color-code-background: #ededed; 
}
:root[data-theme=dark] {
    --color-tsd-typography-marker: #559cda;
    --color-tsd-typography-marker-l2: #77befc;
    --color-page-title: #559cda;
    --color-h2-line:    #559cda;   
    --color-breadcrumb:    #559cda;      
    --color-code-background: #4b4b4b;
    }

body{
    overflow: hidden;
}
.col-content {
    background-color: #e8edf6;
    font-size: var(--typography-font-size);
    max-height: calc(100vh - 2rem - 42px);
    overflow-x: hidden;
    overflow-y: visible;
    padding-left: 1rem;
    padding-right: 1rem;    
    scrollbar-width: auto;
    scrollbar-color: #1f70c2 #e7e8eb;
}
@media (min-width: 770px) {
    .col-content {
    padding: 0 1rem;
    }
}
@media (min-width: 770px) and (max-width: 1399px) {
    .site-menu {
        margin-top: 0;
    }
}
.container
{
    padding: 0 0 0 1rem;    /* page-menu needed to be flush right */
}


@media (min-width: 770px) {
    .container-main {
        margin: 0 auto;
    }
}
.container-main {
    margin: 0 auto;
    min-height: calc(100vh - 41px - 56px - 4rem);
}

.tsd-page-title
{
    position: sticky;
    z-index: 1;
    isolation: isolate;
    background-color: rgb(228 232 255 / 90%); 
    top: -1rem; /* breadcrumbs scroll off */
}    

/* Library title is hidden without breaking its used on other pages */
.tsd-page-title:has(h2:first-child)
{
    display: none;
}
.tsd-page-title>h1
{
    font-size: clamp(10px, 16pt, 4vh);
    margin: 5px 0;
    padding-bottom: 10px;
}
.tsd-page-title>.tsd-breadcrumb
{
    font-size: clamp(8px, 9pt, 3vh);
    color: var(--color-breadcrumb);
}
.tsd-page-title>.tsd-breadcrumb a
{
    color: var(--color-breadcrumb);
}
/* Member visibility settings */
.tsd-filter-visibility>h4
{
    font-size: 12pt;
}
.tsd-filter-visibility .tsd-filter-options
{
    font-size: 11pt;
}
.tsd-typography
{

}

/** list bullets **/
.tsd-typography>ul
{
    list-style: disc;
}
.tsd-typography ul>li::marker
{
    color: var(--color-tsd-typography-marker);
}
.tsd-typography summary::marker
{
    color: var(--color-tsd-typography-marker);
}
.tsd-typography>ul>li>ul
{
    list-style: circle;
}
.tsd-typography ul>li>ul>li::marker
{
    color: var(--color-tsd-typography-marker-l2);
}

.tsd-typography :not(:is(pre))>code
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-code-background);
    border-radius: var(--radius-code);
    font-size: var(--typography-font-size);
    line-height: 1.5;
}
.tsd-typography.tsd-panel pre+pre
{
    margin-top: 0.5rem;
}
.tsd-panel > h1 {
    background-color: #becfee;
    padding-top: 0.5rem;
}

.tsd-panel h2
{
    border-block-start: 5px solid var(--color-h2-line);
    margin: 3rem 0 0 0;
    padding: 5px 0 0 0;
}
.tsd-panel details>summary>h2
{
    border-block-start: none;
    display: inline-block;
    margin: 1rem 0 0.25rem 0;
}
.tsd-typography.tsd-panel h1+p+a+h2,
.tsd-typography.tsd-panel h2+p+a+h3,
.tsd-typography.tsd-panel h3+p+a+h4,
.tsd-typography.tsd-panel h1+a+h2,
.tsd-typography.tsd-panel h2+a+h3,
.tsd-typography.tsd-panel h3+a+h4 {
    margin-top: 0 !important;
}
.tsd-typography.tsd-panel>h2>a {
    color: #315273;
}
.tsd-typography.tsd-panel>h3 {
    font-size: calc(1.25rem + 2px);
}
.tsd-typography.tsd-panel>h3>a {
    color: #315273;
    font-weight: 500;
}
.tsd-typography.tsd-panel>h4 {
    font-size: 1.25rem;
}

.tsd-typography.tsd-panel>h4>a {
    color: #315273;
    /* color: #267f99; */
   /* font-style: italic; */
    font-weight: 400;
}
.tsd-panel.tsd-typography li:not(:last-child)
{
    margin-bottom: 0.5rem;
}
/** paragraph after heading reduces padding after heading **/
.tsd-panel > h3:has(+p) {
    margin-bottom: 0;
    padding-bottom: 0;
}

.tsd-page-navigation .tsd-accordion-details a
{
    color: var(--color-page-title);
}
.tsd-page-navigation .tsd-accordion-details ul
{
    padding-left:1.1em;
}
/* .tsd-page-navigation .tsd-accordion-details
{
    opacity: 0.5;
}
.tsd-page-navigation .tsd-accordion-details:hover
{
    opacity: 1.0;
} */
.page-menu, .site-menu
{
    opacity: 0.5; 
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}
.page-menu:hover, .site-menu:hover
{
    opacity: 1.0; 
}
/* The code type icons */
.tsd-kind-icon
{
    scale: 0.8;
}

.tsd-hierarchy
{
    list-style: disc;
}

.tsd-navigation.settings {
    margin: 0 0 1rem 0;
}
ul#tsd-filter-options {
    font-size: 10pt;
}
.page-menu h4 {
    font-size: 13px;
}
.page-menu h3 {
    font-size: 15px;
}

.tsd-generator {
    padding-top: 4px;
    padding-bottom: 4px;
}
.tsd-signature
{
    white-space: nowrap;
}

dfn::after
{
    content: "\1F4D6"; /* Dictionary icon */
    margin-left: 0.2em; 
    font-style: normal;
}
a[target="_blank"]::after {
    content: "\2197"; /* Upper Right Arrow */
    margin-left: 0.2em;
  }